<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-game-control (timerTicked)="onTimerTick($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <app-odd *ngFor="let odd of odds" [num]="odd"></app-odd>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <app-even *ngFor="let even of evens" [num]="even"></app-even>
        </div>
      </div>
    </div>
  </div>
</div>